/* Set font to Roboto */
body {
    font-family: 'Roboto', sans-serif;
  }
  
  /* Style for h1 */
  h1 {
    font-weight: bold;
    font-size: 3em;
    text-align: center;
  }
  
  /* Style for image */
  img {
    display: block;
    max-width: 33.33vw; /* 1/3 of viewport width */
    margin: 0 auto; /* center the image horizontally */
  }
  
  /* Text alignment */
  p,body,div,span {
    text-align: justify;
    border-top: 3em solid transparent; /* Adjust the height as needed */
    border-bottom: 3em solid transparent; /* Adjust the height as needed */
  }
  
  /* Container */
  .container {
    max-width: 33.33%; /* Adjust the width as needed */
    margin: 0 auto; /* Center the container horizontally */
    text-align: center;
  }